.Amenities {
  margin: 10px 7.6% 0px 7.6%;
  padding-bottom: 15px;
}
.Paragraph {
  margin: 0px 15% 0px 15%;
  background-color: white;
  padding: 2rem 0;
}
.CenterPage {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 2rem 0;
  background-color: white;
  margin: 0px 15% 0px 15%;
}
.SliderWrapper {
  margin-top: 3.5%;
}
