th {
  text-align: center;
}
.Center {
  text-align: center;
  text-decoration: underline black 2px;
  margin: 5%;
  align-items: center;
  align-self: center;
}
.CenterParagraph {
  text-align: center;
  border: solid black 2px;
  margin: 5px;
}
p {
  text-align: center;
}
.slidePhoto {
  height: 325px;
  width: 1625px;
  width: clamp(10px, 50%, 400px);
}
.slideContainer {
  display: flex;
  justify-content: center;
}
.NavButtonHeader:hover {
  text-decoration: underline black;
}
.NavButtonheader {
  background-color: grey;
}
.LoginButton:hover {
  background-color: black;
  text-decoration: underline white;
}
.MenuIcon:hover {
  background-color: black;
}
.BookingContainer {
  display: flex;
  background-color: grey;
  justify-content: space-evenly;
}
.BookingLeftTop {
  display: flex;
  flex-basis: 25%;
  align-self: flex-start;
  text-align: center;
  flex-wrap: wrap;
  justify-content: center;
}
.BookingLeftBottom {
  display: flex;
  flex-basis: 25%;
  align-self: flex-start;
  text-align: center;
  flex-wrap: wrap;
  justify-content: center;
}
.BookingContainer2 {
  display: flex;
  justify-content: space-evenly;
  background-color: grey;
}
.BookingContainer2Left {
  display: flex;
  flex-basis: 50%;
}
.BookingContainer2Center {
  display: flex;
  flex-basis: 25%;
}
.BookingParagraph {
  text-align: center;
  align-self: center;
  flex-basis: 25%;
}
.BookingContainer3 {
  display: flex;
  background-color: grey;
  justify-content: space-evenly;
}
.BookingContainer3Left {
  display: flex;
  justify-content: space-evenly;
}
.BookingContainer3Right {
  display: flex;
  justify-content: space-evenly;
}
.BookingContainer4 {
  display: flex;
  justify-content: space-evenly;
  gap: 15px;
  background-color: grey;
  padding: 1%;
  margin: 1%;
}
.BookingContainer4Left {
  text-align: center;
  font-size: 24px;
}
.BookingContainer4Center {
  text-align: center;
  font-size: 24px;
}
.BookingContainer4Right {
  text-align: center;
  font-size: 24px;
}
.GlobalFooter {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  background-color: grey;
  padding: 15px;
  text-align: center;
}
.FooterLeft {
  text-align: left;
}

.FooterRight {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
