th {
  text-align: center;
}

.Center {
  text-align: center;
  text-decoration: underline black 2px;
  margin: 5%;
  align-items: center;
  align-self: center;
}
.CenterParagraph {
  border: solid white 2px;
  height: 351px;
  width: 351px;
  text-align: center;
  align-items: center;
  display: flex;
}
p {
  text-align: center;
}
.slidePhoto {
  height: 325px;
  width: 1625px;
  width: clamp(10px, 50%, 400px);
}
.slideContainer {
  display: flex;
  justify-content: center;
}
.NavButtonHeader:hover {
  text-decoration: underline black;
}
.NavButtonheader {
  background-color: grey;
}
.LoginButton:hover {
  background-color: black;
  text-decoration: underline white;
}
.MenuIcon:hover {
  background-color: black;
}
.BookingContainer {
  display: flex;
  padding: 25px;
}
.BookingGlobalContainer {
  width: 1750px;
  display: flex;
  flex-direction: column;
}
.BookingLeftTop {
  display: flex;
  align-self: flex-start;
  text-align: center;
  flex-wrap: wrap;
  justify-content: center;
}
.BookingLeftBottom {
  display: flex;
  left: 0%;
  align-self: flex-start;
  text-align: center;
  flex-wrap: wrap;
  justify-content: center;
}
.BookingPhotoContainer {
  align-self: center;
  align-items: center;
  display: flex;
}
.BookingPhoto {
  top: 20%;
  position: relative;
  width: 714px;
  height: 414px;
}
.BookingContainer2 {
  display: flex;
  background-color: #834240;
}
.BookingContainer2Left {
  display: flex;
  position: relative;
  left: 1.3%;
  width: 714px;
  height: 351px;
}
.BookingContainer2Center {
  display: flex;
  height: 351px;
  width: 351px;
}

.BookingParagraph {
  display: flex;
  text-align: center;
  align-self: center;
  flex-basis: 25%;
  color: black;
}
.BookingContainer3 {
  display: flex;
  background-color: #836440;
  padding: 25px;
}
.BookingContainer3Left {
  display: flex;
  justify-content: space-evenly;
}
.BookingContainer3Right {
  display: flex;
  justify-content: space-evenly;
}
.BookingContainer3LeftImg {
  width: 351px;
  height: 351px;
  position: relative;
  left: 12.5%;
}
.BookingContainer3RightImg {
  width: 351px;
  height: 351px;
  position: relative;
  left: 8.3%;
}
.BookingContainer4 {
  display: flex;
  justify-content: space-evenly;
  gap: 15px;
  padding: 15px;
}
.BookingContainer4Left {
  text-align: center;
  font-size: 24px;
}
.BookingContainer4Center {
  text-align: center;
  font-size: 24px;
}
.BookingContainer4Right {
  text-align: center;
  font-size: 24px;
}
.GlobalFooter {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  background-color: grey;
  padding: 15px;
  text-align: center;
}
.FooterLeft {
  text-align: left;
}

.FooterRight {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
